In [1]:
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()

c.execute(
    """
CREATE TABLE movies (
id INTEGER,
movie TEXT,
year TEXT,
rating REAL,
studio TEXT
)
""")
conn.close()
# Close database

In [2]:
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()
query = c.execute("DELETE From movies WHERE movie='Frozen';")
conn.commit()
print("Record Successfully Deleted")

Record Successfully Deleted

In [2]:
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()

c.execute("""
CREATE TABLE movies (
id INTEGER,
movie TEXT,
year TEXT,
rating REAL,
studio TEXT
)""")

dataset = ((1, "Up", 2009, 8.3, "Pixar"),
           (2, "Toy story", 1995, 8.3, "Pixar"),
           (3, "Finding Nemo", 2003, 8.1, "Pixar"),
           (4, "Zootopia", 2016, 8.1, "Disney"),
           (5, "Moana", 2016, 7.7, "Disney"),
           (6, "Despicable Me", 2010, 7.7, "Illumination"),
           (7, "Frozen", 2013, 7.5, "Disney"))

for item in dataset:
    # Write data to database
    c.execute("INSERT INTO movies VALUES (?, ?, ?, ?, ?)", item)
    conn.commit()
conn.close()  # Close database

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 1))

OperationalError: table movies already exists

In [4]:
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()
query = c.execute("SELECT * FROM movies;")
print("Movies Database")
for row in query:
    for column in row:
        print(column)
    print("---")

Movies Database

In [5]:
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()
query = c.execute("SELECT * FROM movies WHERE studio='Pixar';")
for row in query:
    print(row)

In [6]:
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()
query = c.execute("SELECT * FROM movies ORDER BY rating DESC")
for row in query:
    print(row)

In [7]:
import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()
query = c.execute("UPDATE movies SET rating=8.7 WHERE movie='Frozen';")
conn.commit()
print("Record Successfully Updated")

Record Successfully Updated